ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  box-sizing: border-box;
  flex: 0 0 100%;
  padding: 10px;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
  object-fit: cover;
  outline: 1px solid #222;
  outline-offset: 3px;
}

@media (min-width: 768px) {
  li {
    flex: 0 0 50%;
  }
}

@media (min-width: 1024px) {
  li {
    flex: 0 0 25%;
  }
}
